h1 {
  font-family: "papyrus";
  font-size: 400%;
  color: black;
}

h2 {
  font-family: "papyrus";
  font-size: 200%;
  color: black;
}

h3 {
  font-family: "papyrus";
  font-size: 150%;
  color: black;
}

p {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #777777;
  text-indent: 50px;
}

ul {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #66aaff;
  text-indent: 50px;
}

li {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #66aaff;
  text-indent: 50px;
}

#my-portrait {
  width: 300px;
}

div.content {
  background-color: #deface;
  width: 40%;
  min-height: 300px;
  padding: 25px;
  margin: 10px;
  border: 5px solid #000000;
  font-size: 20px;
}

div.assignments {
  background-color: #facade;
  width: 25%;
  padding: 25px;
  margin: 10px;
  border: 5px solid #000000;
  font-size: 18px;
}
